{% extends "base.html" %}

{% block content %}

<div class="container-fluid d-flex justify-content-center align-items-center"
    style="height:100vh; background-color:#090d0e; width:auto;">
    <div class="container_items">
        <h2 class="text-center mt-5 mb-5"> Faça login! </h2>
        {% if error_message %}
        <div style="color: red; margin-bottom: 1em;">
            {{ error_message }}
        </div>
        {% endif %}
        <form method="post" class="text-center justify-content-center">
            {% csrf_token %}
            <table class="w-100">
                {% for field in login_form %}
                <tr>
                    <td>
                        {{ field.label }}<br>
                        {{ field }}
                    </td>
                </tr>
                {% endfor %}
                <tr>

                </tr>
            </table>
            <input type="submit" value="Entrar" class="btn-login mt-3">

            <div class="haveanuser text-center mt-5">
                <p> Faça seu cadastro aqui: </p><br>
                <a href="{% url 'login' %}" class="btn-register mt-3"> Cadastre-se </a>
            </div>
        </form>
    </div>
</div>
<style>
    form table td {
        margin-bottom: 10px;
        color: #fff;
    }

    .btn-register {
        background-color: #f2f2f2;
        border-radius: 100px;
        padding: 10px;
        text-decoration: none;
        color: #000;
    }

    .btn-login {
        background-color: #198751;
        border-radius: 100px;
        padding: 10px;
        text-decoration: none;
        color: #fff;
    }
</style>

{% endblock %}