{% extends "base.html" %}

{% block content %}

<div class="container d-flex justify-content-center">
    <form method="post" class="text-center justify-content-center">
        {% csrf_token %}

        <table>
            {% for field in login_form %}
            <tr>
                <td>
                    {{ field.label }}<br>  
                    {{ field }}            
                </td>
            </tr>
        {% endfor %}
    </table>
        <input type="submit" value="Entrar" class="btn btn-primary mt-3">
    </form>
</div>
    <style>
        

        form table td  {
           
            margin-bottom: 10px; 
            color:#fff;
        }
    </style>

{% endblock %}

