{% extends "base.html" %} 

{% block content %}
            <section id="banner" >
                {% include 'C:\Users\dimiu\studying\crudjango\ProjetoCRUD\pilots\templates\partials\herobanner_main.html'%}
            </section>
            <section id="pilots" class="p-5" style="background-color:#090d0e">
                {% include 'C:\Users\dimiu\studying\crudjango\ProjetoCRUD\pilots\templates\partials\pilots.html'%}
            </section>
            <section id="teams" class="p-5" style="background-color:#05090A">
                {% include 'C:\Users\dimiu\studying\crudjango\ProjetoCRUD\pilots\templates\partials\teams.html'%}
            </section>
            <section id="autodromos" class="p-5" style="background-color:#090d0e">
                {% include 'C:\Users\dimiu\studying\crudjango\ProjetoCRUD\pilots\templates\partials\autodromos.html'%}
            </section>  
{%endblock%}