{% extends "base.html" %} 
{% block content %}
    <section id="hero">
        {% include 'C:\Users\dimiu\studying\crudjango\ProjetoCRUD\pilots\templates\partials\herobanner.html' %}
    </section>

    <div class="container">
        <div class="container-fluid">
            <section id="pilots ">
                {% include 'C:\Users\dimiu\studying\crudjango\ProjetoCRUD\pilots\templates\pilots.html'%}
            </section>
            <section id="teams">
                {% include 'C:\Users\dimiu\studying\crudjango\ProjetoCRUD\pilots\templates\teams.html'%}
            </section>
            <section id="autodromos">
                {% include 'C:\Users\dimiu\studying\crudjango\ProjetoCRUD\pilots\templates\autodromos.html'%}
            </section>
        </div>
    </div>

    
{%endblock%}