<div class="container" style="background-color:#090d0e">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="title-about d-flex justify-content-center text-center align-items-center">
                    <div class="description-about">
                        <h2 class="">Sobre a plataforma</h2><br>
                        <p>O projeto Grid Manager desenvolvido por Diego Miura tem como objetivo ser apenas uma
                            brincadeira para aqueles que amam fórmula 1. </p><br>
                        <p>Aqui você pode gerenciar ou criar pilotos, autodromos, equipes ou até mesmo carros, faça o
                            seu grid da sua forma.</p><br>
                        <p>O projeto atualmente usa o framework Django como linguagem principal o que me auxiliou muito
                            na montagem do CRUD pela praticidade e facilidade de utilização.</p> <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>