

  <style>
    .pilot-card {
  
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
      border-radius: 10px;
      overflow: hidden;
      text-align: center;
      transition: all 0.3s ease;
      max-width: 900px;
      margin: 20px auto 0;
      margin-bottom: 20px;
      max-height:500px;
      overflow-y:scroll;
    }

    .pilot-card:hover {
      cursor: pointer;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
      transform: translateY(-2px);
    }

    .pilot-card img {
      width: 100%;
      height: 200px;
      object-fit: contain;
      object-position: 50% 30%;
    }

    .pilot-card h2 {
      font-size: 1.5rem;
      margin: 10px;
    }

    .pilot-card p {
      font-size: 1rem;
      margin-bottom: 10px;
    }

    .buttons-container {
      display: flex;
      justify-content: center;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .btn {
      display: inline-block;
      background-color: #0096c7;
      color: #fff;
      border: none;
      padding: 10px 20px;
      font-size: 16px;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s ease-in-out;
      margin: 0 10px;
    }

    .btn:hover {
      background-color: #108eb8;
    }

    .btn-danger {
      background-color: #d9534f;
      text-decoration: none !important;
    }

    .btn-danger:hover {
      background-color: #d2221c;
    }

    .error-message {
      color: #d9534f;
      font-size: 14px;
      margin-top: 5px;
    }

    a {
      text-decoration: none !important;
    }
  </style>
  <modal> 
    <div class="pilot-card">
        {% if pilot.avatar %}
        <img src="{{ object.avatar.url }}" alt="{{ object.name }} - {{ object.team }}">
        {%else%}
        <img src="https://t3.ftcdn.net/jpg/03/08/79/70/360_F_308797039_9fsJmkRwEcLJT73bk0EbGIqKpQiibfVa.jpg">
      {%endif%}
      {% if object.legend == True %}
          <h2>{{ object.name }} ⭐ <br><span class="text-secondary" style="font-size:12px;"> Este piloto foi considerado como "legend" pela entidade.</span></h2>
          {% else %}
        <h2>{{ object.name}} </h2>
        {%endif%}
        <p><strong>Idade: </strong> {{ object.age }} ({{ object.situation }})</p>
        <p><strong>Equipe: </strong> {{ object.team }}</p>
        <p class="p-2"><strong>Sobre: </strong><br> {{ object.description }}</p>
        <p class="p-2"><strong>Data de Nascimento </strong><br> {{ object.data_de_nascimento }}</p>
    </div>
    {% if user.is_authenticated %}
    <div class="buttons-container">
      <a href="{% url 'pilot_update' pk=object.pk %}" class="btn btn-primary"> Editar </a>
      <a href="{% url 'pilot_delete' pk=object.pk %}" class="btn btn-danger"> Deletar </a>
    </div>
    {% endif %}
  </modal>




