{% extends "base.html" %}

{% block content %}

<div class="container-fluid d-flex justify-content-center align-items-center  "
  style="height:100vh; background-color:#090d0e">
  <div class="container-form-team">
    <h4 class="text-secondary text-center mb-4">Editar informações da equipe </h4>
    <form method="post" enctype="multipart/form-data" class="form">
      {% csrf_token %}
      <table>
        {% for field in form %}
      <tr>
        <td>
          {{ field.label }}: <br>
          {{ field }} <br>
        </td>
      </tr>
      {% endfor%}
      </table>
      <div>
        <div class="buttons-container mt-3 d-flex justify-content-center gap-2 ">
          <input type="submit" value="Salvar Alterações" class="btn btn-success">
          <a href="{% url 'team_delete' pk=object.pk %}" class="btn btn-danger">Deletar equipe</a>
          <a href="{% url 'content' %}" class="btn btn-primary">Cancelar</a>
        </div>
      </div>
    </form>
  </div>
</div>

<style>
  .form select {
    border-radius:5px;
    border:none;
    background:#fff;
    font-size:12px;
    padding:10px;
  }
  
  .form input[type="file"] {
    color: #f2f2f2;
    font-size: 12px;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgba(67, 67, 67, 0.2);
  }
  
  .form input[type="file"]::-webkit-file-upload-button {
    background-color: rgba(67, 67, 67, 0.2);
    color: #f2f2f2;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    border:none;
  }
  
  .form {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    max-height: 500px;
    color:#fff;
    overflow-y:scroll;
  }
    
  form h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .form table {
    margin: 0 auto;
    width: 100%;
    max-width: 600px
    border-collapse: separate;
    border-spacing: 0 8px;
  }
  
  .form th,
  .form td{
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid rgba(67, 67, 67, 0.1);
    margin-bottom:15px;
  }
    
  .form input[type="text"],
  .form input[type="number"],
  .form input[type="password"],
  .form select
    {
    padding: 5px;
    font-size: 14px;
    border: 1px solid rgb(143, 142, 142);
    border-radius: 30px;
    width: 100%;
    max-width: 300px;
    margin-bottom: 8px;
    transition: border-bottom-color 0.3s ease-in-out;
    background-color:rgba(67, 67, 67, 0.1);
    color:#fff;
  }
  
  .form textarea {
    padding: 15px;
    font-size: 14px;
    border: 1px solid rgb(143, 142, 142);
    border-radius: 30px;
    width: 100%;
    max-width: 300px;
    margin-bottom: 8px;
    transition: border-bottom-color 0.3s ease-in-out;
    background-color:rgba(67, 67, 67, 0.1);
    color:#fff;
  }
  
  
  .form input 
  {
    color:#fff;
  }
  </style>

{% endblock %}